<h2>Available drones</h2>
{{#each drones}}
  <p>Name:
    {{this.name}}, Propellers:
    {{this.propellers}}, Maximum Speed:
    {{this.maxSpeed}}</p>
  <form action="/drones/{{this._id}}/edit" method="GET">
    <button class="btn btn-primary" type="submit">EDIT</button>
  </form>
  <form action="/drones/{{this._id}}/delete" method="GET">
    <button class="btn btn-danger">DELETE</button>
  </form>
{{/each}}